<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./img/carrito.jpg" class="d-block w-100" alt="imagen carrito app">
      </div>
      <div class="carousel-item">
        <img src="./img/cliente.jpg" class="d-block w-100" alt="imagen de cliente comprando">
      </div>
      <div class="carousel-item">
        <img src="./img/pasillo.jpg" class="d-block w-100" alt="pasillo de compras">
      </div>
    </div>
  </div>