<div class="row row-cols-1 row-cols-md-3 g-4 padding-all">
    <div class="col">
      <div class="card h-100">
        <!-- <img src="#" class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title">Titulo1</h5>
          <p class="card-text">Proximamente texto</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">...</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title">Titulo2</h5>
          <p class="card-text">Proximamente texto</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">...</small>
        </div>
      </div>
    </div>
    <div class="col">
      <!-- <h1 [ngClass]="licensia.length >0 ? 'h1-true':'h1-false'">{{licensia}}</h1> -->
      <div class="card h-100">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title">Titulo3</h5>
          <p class="card-text">Proximamente texto</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">...</small>
        </div>
      </div>
    </div>
  </div>