<form class="formularioIngreso" [formGroup]="formulario" (ngSubmit)="log()">
    <h2 class="titulo">Ingrese de usuarios: </h2>
    <div class="mb-3">
      <label for="emailUsuario" class="form-label" >Email </label>
      <input formControlName="email" type="email" placeholder="Example@gmail.com" class="form-control inputMedida" id="emailUsuario" aria-describedby="emailHelp">
      <div class="invalido"*ngIf="formulario.controls['email'].errors?.['required']">Campo requerido</div>
      <div class="invalido"*ngIf="formulario.controls['email'].errors?.['pattern']">formato de email invalido</div>
    </div>
    <div class="mb-3">
      <label for="clavelUsuario" class="form-label">Conteseña</label>
      <input formControlName="contrasena" type="password" class="form-control inputMedida" id="clavelUsuario">
      <div class="invalido"*ngIf="formulario.controls['contrasena'].errors?.['minlength']">formato de contraseña invalido</div>
    </div>
    <div class="mb-3 form-check">
      <input formControlName="sesion" type="checkbox" class="form-check-input" id="sesionUsuario">
      <label class="form-check-label" for="sesionUsuario">Mantener Sesion</label>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="formulario.invalid" >Iniciar Sesion</button>
    <button type="reset" class="btn btn-primary resetBtn">Resetear</button>
    <button type="" class="btn btn-primary resetBtn" routerLink="NuevaCuenta">Crear una Cuenta</button>
  </form>