<nav class="navbar navbar-expand-lg bg-body-tertiary bgGrey">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <a class="card-title">Contacto</a>
                    <p class="card-text">Toda nuestra información a su disposición</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">TuCompraOnline.com</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="./img/sugerenciajpg.jpg" class="card-img-top" alt="SugerenciasImagen">
                <div class="card-body">
                    <a class="card-title">Sugerencias</a>
                    <p class="card-text">Tu opinion nos interesa , por favor si tienes alguna idea o comentario para mejorar nuestro servicio nos interesaria saberlo.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">TuCompraOnline.com</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <a class="card-title">Sobre Nosotros</a>
                    <p class="card-text">¿Quieres conocer mas sobre nuestra historia y comienzos?, te invito a conocerla en el link.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">TuCompraOnline.com</small>
                </div>
            </div>
        </div>
    </div>  
</nav>
