<nav class="navbar navbar-expand-lg bg-body-tertiary bgGrey">
    <div class="container-fluid">
      <a class="navbar-brand butSpaceExpand" mat-raised-button routerLink="inicio">TuCompraOnline.com</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navEnd" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 butSpaceExpand">
          <li class="nav-item butSpace">
            <a class="nav-link active " mat-raised-button aria-current="page">Contacto</a>
          </li>
          <li class="nav-item butSpace">
            <a class="nav-link " mat-raised-button routerLink="MiCuenta">MiCuenta</a>
          </li>
          <li class="nav-item butSpace">
            <a class="nav-link " mat-raised-button routerLink="Compras">Comprar</a>
          </li>
        </ul>
      </div>
    </div>
</nav>